data/** linguist-vendored
logs/** linguist-vendored
embeddings/** linguist-vendored
index/** linguist-vendored
*.html linguist-vendored
*.md linguist-vendored
*.json linguist-vendored
*.yaml linguist-vendored
*.yml linguist-vendored